<div>
  <div class="container form-box mt-5">
    <h3 class="text-center new-post">ユーザー設定</h3>
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-8">
        <%= form_with model: @user, local: true do |f| %>
          <div class="row form-group">
            <div class="col-4"><%= f.label "ニックネーム" %></div>
            <div class="col-8">
              <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="submit-btn col-3 float-right">
            <%= f.submit "登録", class: "btn btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>