<h4><%= @room.owner_id.nickname %>さんの募集</h4>
<p class:"font-small">最終更新日:</p>
<% @room.game_id.title %>

<table class="table table-borderless">
  <tr>
    <td>ルーム上限人数</td> 
    <td>プラットフォーム</td>
    <td>プレイスタイル</td>
    <td>活動曜日</td>
    <td>活動時間帯</td>
  </tr>
  <tr>
    <td><%= @room.member_max %></td> 
    <td><%= @room.member_max %></td>
  </tr>
</table>