<footer class="fixed-bottom">
  <ul class="footer-list">
   <li class="list-main">フッターコンテンツ</li>
   <li class="list-main">フッターコンテンツ</li>
  </ul>
  <small class="copy-right pr-5 pt-3">
   © 2022 Game_Friends inc.️
  </small>
</footer>
